---
import '@/assets/styles/main.scss'
import Gtag from '@/components/head/Gtag.astro'
import TheHeader from '@/components/layout/TheHeader.astro'
import TheFooter from '@/components/layout/TheFooter.astro'

interface Props {
  title: string
  description?: string
  ogType?: string
  ogTitle?: string
  ogDescription?: string
  ogUrl?: string
  ogImage?: string
  twitterCard?: string
  twitterSite?: string
}

const {
  title,
  description = '',
  ogType,
  ogTitle,
  ogDescription,
  ogUrl,
  ogImage,
  twitterCard,
  twitterSite
} = Astro.props
---

<html lang="en">
  <head>
    <Gtag />

    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>{title}</title>

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- SEO -->
    <meta name="description" content={description} />

    <!-- Social -->
    {ogType && <meta property="og:type" content={ogType} />}
    {ogTitle && <meta property="og:title" content={ogTitle} />}
    {
      ogDescription && (
        <meta property="og:description" content={ogDescription} />
      )
    }
    {ogUrl && <meta property="og:url" content={ogUrl} />}
    {ogImage && <meta property="og:image" content={ogImage} />}

    {twitterCard && <meta name="twitter:card" content={twitterCard} />}
    {twitterSite && <meta name="twitter:site" content={twitterSite} />}
  </head>

  <body>
    <TheHeader />
    <main>
      <slot />
    </main>
    <TheFooter />
  </body>
</html>
